---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Banner from "../components/Banner.astro"
import { Image } from 'astro:assets';
import registrering from "../assets/images/registrering.svg"
import Checkbox from "../components/Checkbox.astro";
import InfoBox from "../components/InfoBox.astro"
---

<MainLayout>
<Banner text="Deltag Deltag Deltag"></Banner>

<section class="grid lg:grid-cols-5">
    <div class="section1 hidden md:block lg:col-span-2 border-r border-[var(--secondary-color-100)]">
<div>
            <Image class=" hidden md:block" src={registrering} alt="billede"></Image>
</div>
        <div class=" grid grid-cols-2 border-t border-b border-[var(--secondary-color-100)]">
            <Button variant="primary" size="xlarge">Gem<br>datoen</Button>
            <Button variant="secondary" size="xlarge">Del<br>med<br>en ven</Button>
        </div>
    </div>

    <div class="section2 lg:col-span-3 border-b border-[var(--secondary-color-100)]">
  <div class="flex flex-row items-center gap-4">
        <InfoBox></InfoBox>
        <h1 class=" py-4 lg:text-8xl text-[var(--accent-color-300) text-center md:mb-10 md:pt-10">D. 15 Marts 2025</h1>
  </div>
       
        <form action="" class="grid grid-cols-2 sm:max-w-full gap-6 m-8">

            <div class="block mb-6">
                <label hidden for="fornavn">fornavn</label>
                <input type="text" id="fornavn" placeholder="Fornavn" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="block mb-6">
                <label hidden for="efternavn">efternavn</label>
                <input type="text" id="efternavn" placeholder="Efternavn" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="block mb-6">
                <label hidden for="mail">E-mail</label>
                <input type="email" id="mail" placeholder="E-mail" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="block mb-6">
                <label hidden for="by">By</label>
                <input type="text" id="by" placeholder="By" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
            
            <div class="block col-span-2 mb-6">
                <label hidden for="organisation">organisationsnavn</label>
                <input type="text" id="organisation" placeholder="Organisationsnavn"class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="block mb-6">
                <label hidden for="deltagere">antal deltagere</label>
                <input type="number" id="deltagere" placeholder="Antal deltagere" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none"  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="block mb-6">
                <label hidden for="data">antal slettet data</label>
                <input type="number" id="data" placeholder="Antal GB slettet" class="mt-6 bg-transparent block w-full hover:bg-gradient-to-t from-[var(--accent-color-100)] to-transparent focus:bg-none "  style="border: none; border-bottom: 1px solid var(--secondary-color-100);">
            </div>
        
            <div class="col-span-2">
              <div class="flex flex-row">
                    <div class="flex flex-col">
                    <div class="flex flex-row">
                            <Checkbox></Checkbox>
                            <p>*Jeg accepterer Let's Do It, World Terms and Conditions</p>
                    </div>
                    <div class="flex flex-row">
                        <Checkbox></Checkbox>
                        <p>Jeg vil gerne modtage nyheder fra Digital Skraldedag</p>
                    </div>
                    </div>
                    <div class="ml-auto"><Button variant="main" size="large">Indsend</Button></div>
              </div>
            </div>
            
        </form>
        <div class="section3 block md:hidden flex flex-row border-t border-b border-[var(--secondary-color-100)]">
            <Button variant="primary" size="xlarge">Gem<br>datoen</Button>
            <Button  variant="secondary" size="xlarge">Del<br>med<br>en ven</Button>
        </div>

    </div>

</section>
</MainLayout>

<style>
input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="number"]::placeholder {
    color: var(--secondary-color-100)
}

</style>

<script>
	import { inView } from "motion";

	const inviewelement = document.querySelector(".section1");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

		const inviewelement1 = document.querySelector(".section2");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})
		
		const inviewelement2 = document.querySelector(".section3");
	inView(
		inviewelement2 , () => {
			inviewelement2.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})
</script>