---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import CardSlider from "../components/CardSlider.astro";
import Banner from "../components/Banner.astro"
---
<MainLayout title="Titel">
	
<Banner text="Resourcer Resourcer Resourcer Resourcer"></Banner>

<div class="border-solid border-1 border-b border-[var(--secondary-color-100)] section1">
   <div class="m-8">
        <h2 class="text-center">Tryk og få</h2>
        <h5 class="text-center">mere viden</h5>
   </div>
</div>

<div class="section2"><CardSlider></CardSlider></div>

</MainLayout> 

<script>
	import { inView } from "motion";

	const inviewelement = document.querySelector(".section1");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

		const inviewelement1 = document.querySelector(".section2");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})
		
</script>