---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import CardSlider from "../components/CardSlider.astro";
import Banner from "../components/Banner.astro"
---
<MainLayout title="Titel">
	
<Banner text="RESOURCER RESOURCER RESOURCER"></Banner>

<div class="border-solid border-1 border-b border-[var(--secondary-color-100)]">
   <div class="m-8">
        <h2 class="text-center">Tryk og få</h2>
        <h5 class="text-center">mere viden</h5>
   </div>
</div>

<CardSlider></CardSlider>

</MainLayout> 