---
const {text} = Astro.props;
---


<div class="overflow-hidden whitespace-nowrap background border-white border-b pb-2 md:pb-4">
  <div class="inline-block animate-scroll min-w-full">
     <span class="mr-5 text-white background text-6xl md:text-9xl text-center m-0">{text}</span>
    
  </div>
    <div class="inline-block animate-scroll min-w-full">
     <span class=" mr-5 text-white background text-6xl md:text-9xl text-center m-0">{text}</span>
    
  </div>
</div>


