---
// Henter parametrene fra Astro.props

const { variant= "primary", size = "medium" } = Astro.props; 

// Definer den styling (tailwind classes, der gør sig gældende for alle links)
const buttonStyling = ""; 

// Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
    "main": " w-40 h-10 bg-transparent border border-customGreen text-customGreen hover:bg-customGreen hover:text-white px-2 py-2 ",
    "primary": "w-40 h-60 bg-customGreen border text-white hover:bg-white hover:text-customGreen  ",
    "secondary": " w-40 h-60 bg-customGreen2 border text-customGreen3 hover:bg-customGreen3 hover:text-customGreen2  ",
    "round": " w-98 h-70 bg-transparent border rounded-full text-customGreen3 hover:bg-customGreen3 hover:text-customGreen2 " ,
    
};


// Definer den styling (Tailwind classes), der gør sig gælende for de forskellige størrelser
const sizeClasses = {
    "large": "p-16",
    "medium": "p-8",
    "small": "p-2",
};
---
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>