---
// Henter parametrene fra Astro.props

const { variant= "primary", size = "medium" } = Astro.props; 

// Definer den styling (tailwind classes, der gør sig gældende for alle links)
const buttonStyling = ""; 

// Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
    "main": " w-40 h-10 bg-transparent border border-[var(--accent-color-300)] border-customGreen text-customGreen hover:bg-customGreen hover:text-[var(--primary-color-100)] px-2 py-2 ",
    "primary": "w-full h-60 bg-customGreen border text-white hover:bg-white hover:text-customGreen  ",
    "secondary": " w-full h-60 bg-customGreen2 border text-customGreen3 hover:bg-customGreen3 hover:text-customGreen2  ",
    "round": "button w-[28rem] h-[10rem] md:w-[48rem] md:h-[25rem] rounded-[50%] py-[14vw] md:py-[7vw] cursor-pointer block bg-transparent border border-[var(--accent-color-300)] flex flex-col justify-center items-center text-2xl md:text-4xl text-[var(--secondary-color-100)] hover:bg-[var(--accent-color-300)] hover:h2-[var(--primary-color-100)] hover:text-[var(--primary-color-100)] " ,
};

// Definer den styling (Tailwind classes), der gør sig gælende for de forskellige størrelser
const sizeClasses = {
    "xlarge": "text-6xl",
    "large": "p-50",
    "medium": "p-8",
    "small": "p-2",
};
---
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>