---


---

<div class="flex flex-row items-center h-[540px] m-2 overflow-x-scroll gap-5 scroll-snap-x mandatory">

    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image class="w-[270px] h[250px] object-cover" src="" alt="thumbsup"/> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Guidelines for individer</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Guidelines for firmaer</p>
    </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Guidelines for skoler</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Guidelines for kommuner</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Sådan rydder du op på din computer</p>
         </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Sådan rydder du op i dine emails</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Sådan rydder du op i din mobil </p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Deltager data samling 1</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Deltager data samling 2</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <!-- <Image src="" alt=""></Image> -->
            <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div>
            <p class="text-center">Markedsføring materialer</p>
        </a>
    </div>

</div>