---
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<div class="flex flex-row items-center h-[540px] m-2 overflow-x-scroll gap-5 scroll-snap-x mandatory">

    <div class="">
        <Image src="" alt="" class="block w-[270px] h[250px] object-cover"></Image>
        <a href="" target="_blank">Guidelines for individer</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Guidelines for firmaer</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Guidelines for skoler</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Guidelines for kommuner</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Sådan rydder du op på din computer og harddrive</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Sådan rydder du op i dine emails</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Sådan rydder du op i din mobil og tablet</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Deltager data samling 1</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Deltager data samling 2</a>
    </div>
    <div class="">
        <Image src="" alt=""></Image>
        <a href="" target="_blank">Markedsføring materialer</a>
    </div>

</div>