---

---

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4  bg-transparent border-[var(--secondary-color-100)]  focus:ring-[var(--accent-color-100)] dark:focus:ring-[var(--accent-color-200) dark:ring-[var(--accent-color-100) focus:ring-2 dark:bg-[var(--secondary-color-100) dark:border-[var(--primary-color-100)">
    <label for="default-checkbox" class="ms-2"></label>
</div>

<style>

input:checked ~ .checkmark {
    background-color: var(--secondary-color-100);
  }
</style>