---
import Link from '../components/Link.astro'
---

<div class="py-8 max-w-screen-xl mx-auto text-white bg-green-800" >
    <div class="grid grid-cols-4 justify-items-center pb-8">
        <section>Logo   </section>

             <section> 
                 <h4> Lad os gøre verden grønnere </h4>
                 <p>Roosikrantsi 3, Tallinn 10119, Estonia <br>
                        Reg. code - 80562203</p>
                <p>Digital@ldiw.org</p>
             </section>

        <section> 
            <div> <Link href="https://www.kea.dk" target="_blank">Blog</Link> </div>
            <div> <Link href="https://www.kea.dk" target="_blank">Marketing Materiale</Link> </div>
            <div> <Link href="https://www.kea.dk" target="_blank">Forfatning</Link> </div>
            <div>  <Link href="https://www.kea.dk" target="_blank">Tilmeld foreningen</Link> </div>
            
           
        </section>

        <section class=>

<img src="src/assets/images/in.svg" alt="Billede" class="">

        </section>
    </div>

</div>